{% extends 'App_Projeto5/base/base.html' %}
{% block conteudo %}

<div class="white-backg h-100 mt-5 p-4 ">
  <h1 class="mb-4">Informações de Contato</h1>

  <section>
    <p>Olá eu me chamo Matheus Duarte da Silva, tenho 19 anos, estou cursando Engenharia de Software na UnB do Gama. Esse site faz parte do projeto final da disciplina de Orientação a Objetos. Abaixo estão as minhas informações pertinentes.</p>
  </section>

  <p><i class="bi bi-envelope-fill"></i> Email: matheusds014@gmail.com</p>
  <p><i class="bi bi-telephone-fill"></i> Telefone: (61) 99439-5509</p>
  <p><i class="bi bi-github"></i> GitHub: <a href="https://github.com/smmstakes">smmstakes</a></p>
  <p><i class="bi bi-linkedin"></i> LinkedIn: <a href="https://www.linkedin.com/in/mduarte-ds/">Matheus Duarte</a></p>

</div>

{% endblock %}
