{% extends 'App_Projeto5/base/base.html' %}
{% block conteudo %}


<div class="white-backg h-100 mt-5 p-4 ">
  <h1 class="mb-4">Bem-vindo ao Meu Diário Pessoal!</h1>
  <p>Seja você um escritor ávido, um entusiasta dos diários ou alguém que deseja simplesmente registrar suas
    experiências e reflexões diárias, o Meu Diário Pessoal é o lugar perfeito para você. Aqui, você pode criar,
    explorar e reviver suas memórias de uma forma pessoal e significativa.</p>

  <p>Nosso site oferece a funcionalidade CRUD, permitindo que você crie, leia, atualize e exclua suas entradas de
    diário com facilidade. Cada palavra, cada pensamento e cada momento podem ser cuidadosamente capturados e
    preservados em um ambiente digital seguro.</p>

  <p>Na página inicial do Meu Diário Pessoal, você será recebido por uma visão geral das suas entradas mais recentes.
    Explore os títulos e trechos de texto para relembrar seus momentos marcantes. E quando quiser se aprofundar em
    uma experiência específica, basta clicar na entrada para ler o conteúdo completo, incluindo a data e o título que
    você escolheu.</p>

  <p>Quer se trate de um diário íntimo, um registro de viagem emocionante ou um espaço para desabafar suas emoções,
    o Meu Diário Pessoal oferece a você a liberdade de expressão e a privacidade necessárias para tornar suas palavras
    verdadeiramente suas.</p>

  <p>Além disso, valorizamos sua conveniência e organização. Você pode filtrar suas entradas por mês, ano ou
    palavras-chave, facilitando a localização daquela memória específica que deseja reviver.</p>

  <p>No Meu Diário Pessoal, sua segurança e privacidade são nossas principais preocupações. Implementamos medidas de
    segurança rigorosas para garantir que suas informações estejam protegidas. Apenas você terá acesso ao seu diário,
    pois a autenticação de usuário é necessária para entrar e explorar seu mundo pessoal.</p>

  <p>Então, permita-se mergulhar nas páginas virtuais do Meu Diário Pessoal e deixe suas palavras fluírem. Registre
    suas histórias, celebre suas conquistas e encontre conforto na expressão autêntica de suas emoções. Sinta-se
    livre para criar, editar e excluir entradas de diário à medida que você evolui e cresce.</p>

  <p>O Meu Diário Pessoal é seu espaço para autodescoberta, reflexão e expressão genuína. Abrace o poder das palavras
    e crie um tesouro de memórias que durará para sempre.</p>

  <p>Comece a escrever sua história no Meu Diário Pessoal hoje mesmo!</p>
</div>


{% endblock %}